@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Raleway-black";
    src: url(../fonts/Raleway-Black.ttf);
}